@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dateBtn {
    @apply flex-grow text-red-400 py-2 rounded-lg hover:bg-red-400 hover:text-white transition duration-300;
  }
  .pill {
    @apply cursor-pointer p-2 border rounded-full hover:shadow-lg active:scale-90 active:bg-gray-200 
    transition transform duration-200 bg-white;
  }
}

.dark-style .rdrStaticRange,
.dark-style .rdrDefinedRangesWrapper {
  color: white;
  background: black !important;
  transition: 0.3s linear;
}

.dark-style .rdrDayNumber span {
  color: white;
}

.dark-style .rdrCalendarWrapper {
  background: black !important;
}

.dark-style .rdrStaticRangeLabel:hover {
  background: #3c424a !important;
}

.popup-dark-style .mapboxgl-popup-content {
  background: #1e293b !important;
  transition: 0.2s linear;
}

.popup .mapboxgl-popup-content {
  transition: 0.2s linear;
}
